[submodule "hFramework"]
	path = Frameworks/HusarionCORE2/hFramework
	url = https://github.com/husarion/hFramework.git
[submodule "HusarionCORE2/hSensors"]
	path = Frameworks/HusarionCORE2/hSensors
	url = https://github.com/husarion/hSensors.git
[submodule "HusarionCORE2/modules"]
	path = Frameworks/HusarionCORE2/modules
	url = https://github.com/husarion/modules.git
[submodule "UAV/Emlid/Navio2"]
	path = UAV/Emlid/Navio2
	url = https://github.com/emlid/Navio2.git
[submodule "UAV/Emlid/Navio"]
	path = UAV/Emlid/Navio
	url = https://github.com/emlid/Navio.git
[submodule "UAV/ArduPilot/ardupilot"]
	path = UAV/ArduPilot/ardupilot
	url = https://github.com/ArduPilot/ardupilot.git
[submodule "UAV/ArduPilot/apm_planner"]
	path = UAV/ArduPilot/apm_planner
	url = https://github.com/ArduPilot/apm_planner.git
[submodule "UAV/Paparazzi/paparazzi"]
	path = UAV/Paparazzi/paparazzi
	url = https://github.com/paparazzi/paparazzi.git
[submodule "UAV/Paparazzi/pprzlink"]
	path = UAV/Paparazzi/pprzlink
	url = https://github.com/paparazzi/pprzlink.git
[submodule "UAV/Paparazzi/paparazzi-hardware"]
	path = UAV/Paparazzi/paparazzi-hardware
	url = https://github.com/paparazzi/paparazzi-hardware.git
[submodule "MotorControl/VESC/bldc-bootloader"]
	path = Libraries/Hardware/Motor/VESC/bldc-bootloader
	url = https://github.com/vedderb/bldc-bootloader.git
[submodule "MotorControl/VESC/bldc"]
	path = Libraries/Hardware/Motor/VESC/bldc
	url = https://github.com/vedderb/bldc.git
[submodule "MotorControl/VESC/bldc-tool"]
	path = Libraries/Hardware/Motor/VESC/bldc-tool
	url = https://github.com/vedderb/bldc-tool.git
[submodule "MotorControl/VESC/bldc-logger"]
	path = Libraries/Hardware/Motor/VESC/bldc-logger
	url = https://github.com/vedderb/bldc-logger.git
[submodule "MotorControl/VESC/bldc_uart_comm_stm32f4_discovery"]
	path = Libraries/Hardware/Motor/VESC/bldc_uart_comm_stm32f4_discovery
	url = https://github.com/vedderb/bldc_uart_comm_stm32f4_discovery.git
[submodule "UAV/QuadcopterSystem"]
	path = UAV/QuadcopterSystem
	url = https://github.com/vedderb/QuadcopterSystem.git
[submodule "ComputerVision/Libraries/libcvd"]
	path = Libraries/Vision/libcvd
	url = https://github.com/edrosten/libcvd.git
[submodule "RFCommunication/Libraries/libblepp"]
	path = Libraries/Hardware/RemoteControl/libblepp
	url = https://github.com/edrosten/libblepp.git
[submodule "UAV/MatrixPilot"]
	path = UAV/MatrixPilot
	url = https://github.com/MatrixPilot/MatrixPilot.git
[submodule "UAV/OpenDroneMap"]
	path = UAV/OpenDroneMap
	url = https://github.com/OpenDroneMap/OpenDroneMap.git
[submodule "UAV/PX4/Bootloader"]
	path = UAV/PX4/Bootloader
	url = https://github.com/PX4/Bootloader.git
[submodule "UAV/PX4/Firmware"]
	path = UAV/PX4/Firmware
	url = https://github.com/PX4/Firmware.git
[submodule "UAV/PX4/UAVCAN_Bootloaders"]
	path = UAV/PX4/UAVCAN_Bootloaders
	url = https://github.com/PX4/UAVCAN_Bootloaders.git
[submodule "UAV/PX4/PX4NuttX"]
	path = UAV/PX4/PX4NuttX
	url = https://github.com/PX4/PX4NuttX.git
[submodule "UAV/PX4/Matrix"]
	path = UAV/PX4/Matrix
	url = https://github.com/PX4/Matrix.git
[submodule "UAV/PX4/DriverFramework"]
	path = UAV/PX4/DriverFramework
	url = https://github.com/PX4/DriverFramework.git
[submodule "UAV/PX4/Toolchains"]
	path = UAV/PX4/Toolchains
	url = https://github.com/PX4/Toolchains.git
[submodule "UAV/PX4/Devguide"]
	path = UAV/PX4/Devguide
	url = https://github.com/PX4/Devguide.git
[submodule "UAV/PX4/Hardware"]
	path = UAV/PX4/Hardware
	url = https://github.com/PX4/Hardware.git
[submodule "UAV/UAVCAN/libuavcan"]
	path = UAV/UAVCAN/libuavcan
	url = https://github.com/UAVCAN/libuavcan.git
[submodule "UAV/UAVCAN/libcanard"]
	path = UAV/UAVCAN/libcanard
	url = https://github.com/UAVCAN/libcanard.git
[submodule "UAV/UAVCAN/pyuavcan"]
	path = UAV/UAVCAN/pyuavcan
	url = https://github.com/UAVCAN/pyuavcan.git
[submodule "UAV/UAVCAN/gui_tool"]
	path = UAV/UAVCAN/gui_tool
	url = https://github.com/UAVCAN/gui_tool.git
[submodule "UAV/UAVCAN/dsdl"]
	path = UAV/UAVCAN/dsdl
	url = https://github.com/UAVCAN/dsdl.git
[submodule "UAV/LibrePilot"]
	path = UAV/LibrePilot
	url = https://github.com/librepilot/LibrePilot.git
[submodule "MIDDLEWARE/drone-middleware"]
	path = MIDDLEWARE/drone-middleware
	url = https://github.com/gtoonstra/drone-middleware.git
[submodule "MIDDLEWARE/eProsima/Fast-RTPS"]
	path = MIDDLEWARE/eProsima/Fast-RTPS
	url = https://github.com/eProsima/Fast-RTPS.git
[submodule "MIDDLEWARE/eProsima/micro-RTPS"]
	path = MIDDLEWARE/eProsima/micro-RTPS
	url = https://github.com/eProsima/micro-RTPS.git
[submodule "MIDDLEWARE/MAVLink/mavlink"]
	path = MIDDLEWARE/MAVLink/mavlink
	url = https://github.com/mavlink/mavlink.git
[submodule "MIDDLEWARE/MAVLink/qgroundcontrol"]
	path = MIDDLEWARE/MAVLink/qgroundcontrol
	url = https://github.com/mavlink/qgroundcontrol.git
[submodule "MIDDLEWARE/MAVLink/c_library_v1"]
	path = MIDDLEWARE/MAVLink/c_library_v1
	url = https://github.com/mavlink/c_library_v1.git
[submodule "MIDDLEWARE/MAVLink/c_library_v2"]
	path = MIDDLEWARE/MAVLink/c_library_v2
	url = https://github.com/mavlink/c_library_v2.git
[submodule "MIDDLEWARE/MAVLink/c_uart_interface_example"]
	path = MIDDLEWARE/MAVLink/c_uart_interface_example
	url = https://github.com/mavlink/c_uart_interface_example.git
[submodule "MIDDLEWARE/MAVLink/mavlink-ivy-interface"]
	path = MIDDLEWARE/MAVLink/mavlink-ivy-interface
	url = https://github.com/mavlink/mavlink-ivy-interface.git
[submodule "MIDDLEWARE/MAVLink/mavlink-devguide"]
	path = MIDDLEWARE/MAVLink/mavlink-devguide
	url = https://github.com/mavlink/mavlink-devguide.git
[submodule "MIDDLEWARE/MAVLink/qgc-dev-guide"]
	path = MIDDLEWARE/MAVLink/qgc-dev-guide
	url = https://github.com/mavlink/qgc-dev-guide.git
[submodule "UAV/Autoquad/autoquad"]
	path = UAV/Autoquad/autoquad
	url = https://github.com/MJ666/autoquad.git
[submodule "UAV/Autoquad/aq_flight_control"]
	path = UAV/Autoquad/aq_flight_control
	url = https://github.com/mpaperno/aq_flight_control.git
[submodule "UAV/OpenUAV-FW"]
	path = UAV/OpenUAV-FW
	url = https://github.com/Open-UAV/Firmware.git
[submodule "MIDDLEWARE/WPILibSuite/allwpilib"]
	path = Frameworks/WPILibSuite/allwpilib
	url = https://github.com/wpilibsuite/allwpilib.git
[submodule "MIDDLEWARE/WPILibSuite/cscore"]
	path = Frameworks/WPILibSuite/cscore
	url = https://github.com/wpilibsuite/cscore.git
[submodule "MIDDLEWARE/WPILibSuite/ntcore"]
	path = Frameworks/WPILibSuite/ntcore
	url = https://github.com/wpilibsuite/ntcore.git
[submodule "MIDDLEWARE/WPILibSuite/wpiutil"]
	path = Frameworks/WPILibSuite/wpiutil
	url = https://github.com/wpilibsuite/wpiutil.git
[submodule "VikingRobotics580/C-Style-Guide"]
	path = Projects/VikingRobotics580/C-Style-Guide
	url = https://github.com/VikingRobotics580/C-Style-Guide.git
[submodule "VikingRobotics580/EventRobot"]
	path = Projects/VikingRobotics580/EventRobot
	url = https://github.com/VikingRobotics580/EventRobot.git
[submodule "VikingRobotics580/RobotCode2016"]
	path = Projects/VikingRobotics580/RobotCode2016
	url = https://github.com/VikingRobotics580/RobotCode2016.git
[submodule "IronPanthers/FRC-2015"]
	path = Projects/IronPanthers/FRC-2015
	url = https://github.com/Iron-Panthers/FRC-2015.git
[submodule "Pollen-Robotics/luos"]
	path = Projects/Pollen-Robotics/luos
	url = https://github.com/pollen-robotics/luos.git
[submodule "Pollen-Robotics/luos-drivers"]
	path = Projects/Pollen-Robotics/luos-drivers
	url = https://github.com/pollen-robotics/luos-drivers.git
[submodule "Pollen-Robotics/robus"]
	path = Projects/Pollen-Robotics/robus
	url = https://github.com/pollen-robotics/robus.git
[submodule "Pollen-Robotics/stm32f0"]
	path = Projects/Pollen-Robotics/stm32f0
	url = https://github.com/pollen-robotics/stm32f0.git
[submodule "Pollen-Robotics/stm32-mockup-hal"]
	path = Projects/Pollen-Robotics/stm32-mockup-hal
	url = https://github.com/pollen-robotics/stm32-mockup-hal.git
[submodule "Pollen-Robotics/robus-gate"]
	path = Projects/Pollen-Robotics/robus-gate
	url = https://github.com/pollen-robotics/robus-gate.git
[submodule "Braun-Robotics/rust-lpc82x-hal"]
	path = Projects/Braun-Robotics/rust-lpc82x-hal
	url = https://github.com/braun-robotics/rust-lpc82x-hal.git
[submodule "Braun-Robotics/rust-lpc82x"]
	path = Projects/Braun-Robotics/rust-lpc82x
	url = https://github.com/braun-robotics/rust-lpc82x.git
[submodule "BotBakery/wpirb"]
	path = Projects/BotBakery/wpirb
	url = https://github.com/althebaker43/wpirb.git
[submodule "BotBakery/frc_cpputest_examples"]
	path = Projects/BotBakery/frc_cpputest_examples
	url = https://github.com/althebaker43/frc_cpputest_examples.git
[submodule "MIDDLEWARE/mrpt"]
	path = Libraries/Dynamics-Simulation/mrpt
	url = https://github.com/MRPT/mrpt.git
[submodule "HebiRobotics/hebi-cpp-examples"]
	path = Projects/HebiRobotics/hebi-cpp-examples
	url = https://github.com/HebiRobotics/hebi-cpp-examples.git
[submodule "MIDDLEWARE/trajopt"]
	path = Libraries/Motion-Planning-and-Control/trajopt
	url = https://github.com/joschu/trajopt.git
[submodule "Purdue-ACM-SIGBots/pros"]
	path = Projects/Purdue-ACM-SIGBots/pros
	url = https://github.com/purduesigbots/pros.git
[submodule "GetRobot/robot"]
	path = GetRobot/robot
	url = https://github.com/Robot/robot.git
[submodule "FidoProject/Fido"]
	path = Libraries/Machine-Learning/FidoProject/Fido
	url = https://github.com/FidoProject/Fido.git
[submodule "FidoProject/Hardware"]
	path = Libraries/Machine-Learning/FidoProject/Hardware
	url = https://github.com/FidoProject/Hardware.git
[submodule "MIDDLEWARE/boxbot"]
	path = Frameworks/Boxbot/
	url = https://github.com/ericjang/boxbot.git
[submodule "ComputerVision/Frameworks/slam-SDVL"]
	path = Libraries/SLAM/slam-SDVL
	url = https://github.com/JdeRobot/slam-SDVL.git
[submodule "MIDDLEWARE/OMPL/ompl"]
	path = Libraries/Motion-Planning-and-Control/OMPL/ompl
	url = https://github.com/ompl/ompl.git
[submodule "MIDDLEWARE/OMPL/omplapp"]
	path = Libraries/Motion-Planning-and-Control/OMPL/omplapp
	url = https://github.com/ompl/omplapp.git
[submodule "MIDDLEWARE/flann"]
	path = Libraries/Motion-Planning-and-Control/flann
	url = https://github.com/mariusmuja/flann.git
[submodule "MIDDLEWARE/MTF"]
	path = Frameworks/MTF
	url = https://github.com/abhineet123/MTF.git
[submodule "VikingRobotics4121/2015-Robot"]
	path = Projects/VikingRobotics4121/2015-Robot
	url = https://github.com/FRC-4121/2015-Robot.git
[submodule "RobotPy/robotpy-wpilib"]
	path = RobotPy/robotpy-wpilib
	url = https://github.com/robotpy/robotpy-wpilib.git
[submodule "RobotPy/examples"]
	path = RobotPy/examples
	url = https://github.com/robotpy/examples.git
[submodule "RobotPy/pynetworktables"]
	path = RobotPy/pynetworktables
	url = https://github.com/robotpy/pynetworktables.git
[submodule "RobotPy/robotpy-wpilib-utilities"]
	path = RobotPy/robotpy-wpilib-utilities
	url = https://github.com/robotpy/robotpy-wpilib-utilities.git
[submodule "Simulators/morse"]
	path = Simulators/morse
	url = https://github.com/morse-simulator/morse.git
[submodule "Frameworks/Miro"]
	path = Frameworks/Miro
	url = https://github.com/hhutz/Miro.git
[submodule "Libraries/SLAM/rt-slam"]
	path = Libraries/SLAM/rt-slam
	url = https://github.com/LumaPictures/rt-slam.git
[submodule "Projects/Cleanflight/firmware"]
	path = Projects/Cleanflight/firmware
	url = https://github.com/cleanflight/cleanflight.git
[submodule "Projects/Cleanflight/configurator"]
	path = Projects/Cleanflight/configurator
	url = https://github.com/cleanflight/cleanflight-configurator.git
[submodule "Projects/Betaflight/firmware"]
	path = Projects/Betaflight/firmware
	url = https://github.com/betaflight/betaflight.git
[submodule "Projects/Betaflight/configurator"]
	path = Projects/Betaflight/configurator
	url = https://github.com/betaflight/betaflight-configurator.git
[submodule "Projects/iNavFlight/firmware"]
	path = Projects/iNavFlight/firmware
	url = https://github.com/iNavFlight/inav.git
[submodule "Projects/iNavFlight/configurator"]
	path = Projects/iNavFlight/configurator
	url = https://github.com/iNavFlight/inav-configurator.git
[submodule "Projects/ROSflight/firmware"]
	path = Projects/ROSflight/firmware
	url = https://github.com/rosflight/firmware.git
[submodule "Projects/ROSflight/rosflight"]
	path = Projects/ROSflight/rosflight
	url = https://github.com/rosflight/rosflight.git
[submodule "Frameworks/Orocos/rtt"]
	path = Frameworks/Orocos/rtt
	url = https://github.com/orocos-toolchain/rtt.git
[submodule "Frameworks/Orocos/ocl"]
	path = Frameworks/Orocos/ocl
	url = https://github.com/orocos-toolchain/ocl.git
[submodule "Libraries/Hardware/Motor/ODrive"]
	path = Libraries/Hardware/Motor/ODrive/firmware
	url = https://github.com/madcowswe/ODrive.git
[submodule "Libraries/Hardware/Motor/ODriveHardware"]
	path = Libraries/Hardware/Motor/ODrive/hardware
	url = https://github.com/madcowswe/ODriveHardware.git
[submodule "Libraries/Robot-Platform/OPRoS"]
	path = Libraries/Robot-Platform/OPRoS
	url = https://github.com/OPRoS/OPRoS.git
[submodule "Frameworks/Carmen/carmen"]
	path = Frameworks/Carmen/carmen
	url = https://github.com/kralf/carmen.git
[submodule "DRONE/Drone"]
	path = DRONE/Drone
	url = https://github.com/bertrandF/Drone.git
[submodule "GIMBAL-CONTROLLER/EvvGC/Hardware"]
	path = GIMBAL-CONTROLLER/EvvGC/Hardware
	url = https://github.com/EvvGC/Hardware.git
[submodule "GIMBAL-CONTROLLER/EvvGC/Firmware"]
	path = GIMBAL-CONTROLLER/EvvGC/Firmware
	url = https://github.com/EvvGC/Firmware.git
[submodule "GIMBAL-CONTROLLER/STorM32BGC/storm32bgc"]
	path = GIMBAL-CONTROLLER/STorM32BGC/storm32bgc
	url = https://github.com/olliw42/storm32bgc.git
[submodule "Frameworks/MOOS/core-moos"]
	path = Frameworks/MOOS/core-moos
	url = https://github.com/themoos/core-moos.git
[submodule "DRONE/AQ32Plus"]
	path = DRONE/AQ32Plus
	url = https://github.com/jihlein/AQ32Plus.git
[submodule "DRONE/BaseFlightPlus"]
	path = DRONE/BaseFlightPlus
	url = https://github.com/jihlein/BaseFlightPlus.git
[submodule "DRONE/DJI/Onboard-SDK"]
	path = DRONE/DJI/Onboard-SDK
	url = https://github.com/dji-sdk/Onboard-SDK.git
[submodule "DRONE/DJI/Guidance-SDK"]
	path = DRONE/DJI/Guidance-SDK
	url = https://github.com/dji-sdk/Guidance-SDK.git
