[submodule "hFramework"]
	path = HusarionCORE2/hFramework
	url = https://github.com/husarion/hFramework.git
[submodule "HusarionCORE2/hSensors"]
	path = HusarionCORE2/hSensors
	url = https://github.com/husarion/hSensors.git
[submodule "HusarionCORE2/modules"]
	path = HusarionCORE2/modules
	url = https://github.com/husarion/modules.git
[submodule "UAV/Emlid/Navio2"]
	path = UAV/Emlid/Navio2
	url = https://github.com/emlid/Navio2.git
[submodule "UAV/Emlid/Navio"]
	path = UAV/Emlid/Navio
	url = https://github.com/emlid/Navio.git
[submodule "UAV/ArduPilot/ardupilot"]
	path = UAV/ArduPilot/ardupilot
	url = https://github.com/ArduPilot/ardupilot.git
[submodule "UAV/ArduPilot/apm_planner"]
	path = UAV/ArduPilot/apm_planner
	url = https://github.com/ArduPilot/apm_planner.git
[submodule "UAV/Paparazzi/paparazzi"]
	path = UAV/Paparazzi/paparazzi
	url = https://github.com/paparazzi/paparazzi.git
[submodule "UAV/Paparazzi/pprzlink"]
	path = UAV/Paparazzi/pprzlink
	url = https://github.com/paparazzi/pprzlink.git
[submodule "UAV/Paparazzi/paparazzi-hardware"]
	path = UAV/Paparazzi/paparazzi-hardware
	url = https://github.com/paparazzi/paparazzi-hardware.git
[submodule "MotorControl/VESC/bldc-bootloader"]
	path = MotorControl/VESC/bldc-bootloader
	url = https://github.com/vedderb/bldc-bootloader.git
[submodule "MotorControl/VESC/bldc"]
	path = MotorControl/VESC/bldc
	url = https://github.com/vedderb/bldc.git
[submodule "MotorControl/VESC/bldc-tool"]
	path = MotorControl/VESC/bldc-tool
	url = https://github.com/vedderb/bldc-tool.git
[submodule "MotorControl/VESC/bldc-logger"]
	path = MotorControl/VESC/bldc-logger
	url = https://github.com/vedderb/bldc-logger.git
[submodule "MotorControl/VESC/bldc_uart_comm_stm32f4_discovery"]
	path = MotorControl/VESC/bldc_uart_comm_stm32f4_discovery
	url = https://github.com/vedderb/bldc_uart_comm_stm32f4_discovery.git
